:root
{
    --pink: #e761ad;
}


.navbar
{
    background-color: var(--pink);
    color: #ffffff;
    height: 5vh;
    min-height: 50px;
}

#pageLoader
{
    height: 100vh;
    background-color: var(--pink);
    width: 100%;
}

.accordion-button
{
    height: calc(95vh / 4);
    font-size: xx-large;
    min-height: 200px;
    padding: 0px;
}

.accordion-button::after
{
    display: none;
}

.accordition-image
{
    height: 100%;
    width: 100%;
}

