:root
{
    --pink: #de268f;
}

.accordion-body
{
    color: #000000;
    padding: 0px;
    background-image: url();
    width: calc(100vw);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5%;
    border: 0px solid white;
}

.navbar
{
    background-color: var(--pink);
    color: #ffffff;
    height: 5vh;
    min-height: 50px;
}

.accordion-button
{
    width: calc(100vw);
    padding: 0px;
    background-size: cover;
    aspect-ratio: 2/1;
    margin: 0px;
    height: auto;
    color: #000000;
    border: 0px solid white;
}

.accordion-button::after
{
    display: none;
    color: #ffffff;
    height: min-content;
}

.accordion-item
{
    border: 0px solid wheat;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*//////////////////////////////////////////*/

.accordion-button.btn1
{background-image: url(imgs/bufe.png);transition: background-image 0.5s ease;}

.accordion-button.btn1:active,
.accordion-button.btn1[aria-expanded="true"]
{background-image: url(imgs/bufe_active.png);}

/*//////////////////////////////////////////*/

.accordion-button.btn2
{background-image: url(imgs/racing.png);transition: background-image 0.5s ease;}

.accordion-button.btn2:active,
.accordion-button.btn2[aria-expanded="true"]
{background-image: url(imgs/racing_active.png);}

/*//////////////////////////////////////////*/

.accordion-button.btn3
{background-image: url(imgs/verseny.png);transition: background-image 0.5s ease;}

.accordion-button.btn3:active,
.accordion-button.btn3[aria-expanded="true"]
{background-image: url(imgs/verseny_active.png);}

/*//////////////////////////////////////////*/

.accordion-button.btn4
{background-image: url(imgs/vr.png);transition: background-image 0.5s ease;}

.accordion-button.btn4:active,
.accordion-button.btn4[aria-expanded="true"]
{background-image: url(imgs/vr_active.png);}

/*//////////////////////////////////////////*/

.accordion-button.btn5
{background-image: url(imgs/szalon.png);transition: background-image 0.5s ease;}

.accordion-button.btn5:active,
.accordion-button.btn5[aria-expanded="true"]
{background-image: url(imgs/szalon_active.png);}

/*//////////////////////////////////////////*/

h1
{
    color: var(--pink);
    font-size: 5em;
}

h2
{
    color: var(--pink);
    font-size: xx-large;
    margin-bottom: 10%;
    white-space: nowrap;
}

.darken
{
    background-color: rgb(248, 240, 247);
}

td
{
    padding: 20px;
    font-size: x-large;
}

.align-left
{
    text-align: left;
    margin-right: auto;

}

p
{
    font-size: x-large;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.seperator
{
    height: 5%;
    width: 100%;
    background-color: #E761AD;
    color: #E761AD;
}

.btn-primary
{
    background-color: #de268f;
    border-color: #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover
{
    background-color: #ffffff;
    color: #de268f;
    border-color: #de268f;
}

a
{
    color: #de268f;
    overflow-x: hidden;
    white-space: nowrap;
}